* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  //font doesn't work on my computer - Dakota
  html,
  body {
    background-color: rgb(2,59,119);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 16px;
  }
  